body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    border: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button#addParticipantButton {
    background-color: #2196F3;
    margin-top: 10px;
}

button#addParticipantButton:hover {
    background-color: #0b7dda;
}

.hide {
    display: none;
}

.participants {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for participants */
    gap: 20px;
}

button#addParticipantButton {
    grid-column: span 2; /* Make the button span across both columns */
}
